@using Itsyazilim.Web.Domain.Resources
@{
    ViewBag.Title = "Hesap Oluşturma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Status"] == null)
{
    Response.Redirect("Register");
}
<br /><br />
<div class="well no-padding" style="width: 400px; margin: 0px auto 0px auto; border-radius:0px; border:1px solid #aaa">
    <div id="RegisterResult">
        <div class="smart-form client-form">
            <header>
                <h1 style="padding: 5px 5px 5px 19px">
                    @if (TempData["Status"] == "OK")
                    {<i class="fa fa-check text-muted"></i><span>&nbsp;&nbsp;@ItsyazilimWebResources.lblCongratulations</span>
                    }
                    else
                    {<i class="fa fa-info-circle text-muted"></i><span>&nbsp;&nbsp;@ItsyazilimWebResources.lblRegisterNow</span>
                    }
                    <i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile" style="opacity: 0.2;
                            margin-right: 20px"></i>
                </h1>
            </header>
        </div>
        <div class="padding-10" style="background-color:white;">
            <div class="padding-10">
                @if (TempData["Status"] == "OK")
                {<h5>
                    @ItsyazilimWebResources.lblFinalStepAccount
            </h5><br />
                    <span>
                        @ItsyazilimWebResources.lblResetPasswordConfirmMessage1<br />
                        @ItsyazilimWebResources.lblResetPasswordConfirmMessage1 <a href='@Url.Content("RegisterReSendActivateCode?e=" + TempData["Email"])'> @ItsyazilimWebResources.lblAskForResendEmail </a>
                    </span>
                }
                else
                {
                    switch (TempData["StatusId"].ToString())
                    {
                        case "0":
                            <center>
                                <h5>@ItsyazilimWebResources.lblThisEmailUsed</h5>
                                <br />
                                <a href='@Url.Content("Login?e=" + TempData["Email"])'>@ItsyazilimWebResources.lblTheLog</a> @ItsyazilimWebResources.lblOr
                                <a href='@Url.Content("PasswordRenewal?e=" + TempData["Email"])'>@ItsyazilimWebResources.lblRenewYourPassword</a>

                            </center>
                            break;
                        case "1":
                        <h5>@ItsyazilimWebResources.lblAccountCreatedWithThisEmail</h5>
                        <br />
                        <span>
                            @ItsyazilimWebResources.lblEmailSendingConfirmation <a href='@Url.Content("RegisterReSendActivateCode?e=" + TempData["Email"])'> @ItsyazilimWebResources.lblAskForResendEmail </a>
                        </span>
                            break;
                        case "2":
                        <center>
                            <h5>@ItsyazilimWebResources.lblThisEmailUsed</h5>
                            <br />
                            <a href='@Url.Content("Login?e=" + TempData["Email"])'>@ItsyazilimWebResources.lblTheLog</a> @ItsyazilimWebResources.lblOr
                            <a href='@Url.Content("PasswordRenewal?e=" + TempData["Email"])'>@ItsyazilimWebResources.lblRenewYourPassword</a>

                        </center>
                            break;
                        case "3":
                        <center>
                            <h5>@ItsyazilimWebResources.lblEmailNotSendToEmail</h5>
                            <br />
                            @ItsyazilimWebResources.lblPlease <a href="javascript:history.back()">@ItsyazilimWebResources.lblReturn</a> @ItsyazilimWebResources.lblCheckYourAddress
                        </center>
                            break;
                    }
                }
            </div>
        </div>
        <div class="smart-form no-padding">
            <footer style="padding:20px">
                <table border="0" align="center" style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="text-align: center">
                                @ItsyazilimWebResources.lblAccountCreationProblem<br>@ItsyazilimWebResources.lblPlease
                                <a style="border: none; text-decoration: none" href="~/Home/Contact?Report=1">
                                    @ItsyazilimWebResources.lblLetUsKnow
                                </a>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </div>
    </div>
</div>
