@using Itsyazilim.Web.UI.Models
@model Itsyazilim.Web.UI.Models.RegisterViewModel
@{
    ViewBag.Title = "Kaydol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="well no-padding" style="width: 400px; margin: 0px auto 0px auto;border-radius:0px; border:1px solid #aaa">
        <div id="RegisterForm">
            <div class="smart-form client-form">
                <header>
                    <h1 style="padding: 5px 5px 5px 19px">
                        <i class="fa fa-pencil text-muted"></i>&nbsp;&nbsp;Şimdi Kaydol
                        <i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile" style="opacity: 0.2;
                            margin-right: 20px"></i>
                    </h1>
                </header>
            </div>
            <div class="padding-10">
                @Html.ValidationSummary("", new { @class = "text-danger", @style = "padding-left:10px" })


                <div class="padding-10">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon-prepend fa fa-user" style="width: 15px"></i>
                        </div>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "İsim", @autofocus = "autofocus" })
                    </div>
                    <br />
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon-prepend fa fa-user" style="width: 15px"></i>
                        </div>
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @placeholder = "Soyisim" })
                    </div>
                    <br />
                    <div id="InputEmailValidator" class="input-group text-danger">
                        <div class="input-group-addon">
                            <i class="icon-prepend fa fa-envelope" style="width: 15px"></i>
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-posta", @Value = Request.QueryString["e"] })
                    </div>
                    <br />
                    <div id="InputPasswordValidator" class="input-group">
                        <div class="input-group-addon">
                            <i class="icon-prepend fa fa-lock" style="width: 15px"></i>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Şifre", @onkeyup = "PasswordControl(1500)", @maxlength = 30 })
                    </div>
                    <div id="PasswordValidator" class="progress progress-xs" style="margin-left: 40px; margin-bottom:0px;">
                        <div id="PasswordValidatorBar" class="progress-bar bg-color-red" role="progressbar"
                             style="width: 0%;">
                        </div>
                    </div>
                    <div id="PasswordLevelText" style="text-align:right; font-size:12px">  </div>
                    <br /><div style="padding: 0px 3px 0px 3px; font-size: 11px">
                        Hesap oluşturarak "<a href="javascript:ShowEULA()">Kullanım Koşulları</a>" sözleşmesini kabul etmiş sayılırsınız.
                        Sıkıcı gelme olasılığına rağmen bu sözleşmeyi okumanızı tavsiye ederiz.<br />
                    </div>
                    <div id="EULA" style="display: none; overflow: auto; height: 260px; padding: 10px 5px 5px 5px; margin-top: 10px; border-top: 1px solid #aaa; font-size: 11px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fringilla sem id lorem ultrices placerat. Aenean eget viverra eros. Nullam nec congue est, vitae volutpat lorem. Ut fringilla magna nibh. Donec sagittis varius ornare. Cras ut mattis justo. Fusce at tincidunt mi, vel tincidunt enim. Quisque nec justo vestibulum, volutpat lorem eleifend, sagittis arcu. Donec in quam velit. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent tempor sagittis magna quis ultricies. Vivamus quis dictum ante. Phasellus odio ipsum, dictum vitae laoreet eu, ultrices at lacus. Proin elementum est suscipit, gravida turpis quis, mollis nisi.
                        <br /><br />
                        Cras in semper dui. Proin fermentum, sapien ut malesuada euismod, metus lorem commodo velit, sit amet mollis tellus ante non risus. Pellentesque tellus augue, suscipit a consequat vel, sollicitudin et ex. Nullam a scelerisque sem. Maecenas condimentum eleifend lacus, at volutpat tellus mollis eleifend. Etiam vulputate nunc non tellus cursus, eu volutpat odio auctor. Curabitur vitae massa vel nisi maximus feugiat vitae nec nibh. Curabitur ullamcorper ipsum nisi, quis faucibus odio venenatis suscipit. Aliquam pharetra ut nunc eget ultricies.
                        <br /><br />
                        In lacinia elit ac mattis pellentesque. Donec rutrum nisl vehicula risus efficitur, non malesuada ligula malesuada. Mauris id nisi posuere, convallis magna id, malesuada diam. Praesent vitae egestas massa, vitae tincidunt lacus. In hac habitasse platea dictumst. Vivamus purus ex, dictum a ex tristique, condimentum euismod felis. Nunc at lobortis nulla, sed tempor odio. Curabitur nec consectetur nulla. Phasellus porttitor imperdiet justo. Nullam ac nunc sed libero ultricies rhoncus. Pellentesque feugiat, purus vel ullamcorper pretium, felis purus imperdiet mauris, molestie accumsan dui dolor ut mi. Aenean quis ante sit amet lectus feugiat consequat. Aenean quis urna feugiat, mattis purus at, aliquet orci.
                        <br /><br />
                        Vestibulum et nibh et magna fermentum blandit consequat vel orci. Pellentesque aliquet ligula et eros lobortis, at luctus nisi ullamcorper. Integer ultricies quis risus eget interdum. Sed dictum imperdiet lacus, sed tristique nisl accumsan placerat. Nam augue lacus, feugiat ut eros nec, varius suscipit eros. Sed quis ligula erat. Curabitur porttitor vehicula tortor quis convallis.
                        <br /><br />
                        Pellentesque tristique felis vulputate, sollicitudin magna at, auctor turpis. Etiam lorem nisi, lobortis at eros in, ultrices laoreet nulla. Morbi tristique vestibulum ligula. Nullam egestas posuere bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam auctor sagittis enim, tempor cursus arcu maximus fringilla. Nam fringilla blandit aliquet.
                        <br /><br />
                        Proin tempor metus enim, ut tempor tortor auctor id. Nunc vel dolor ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. In aliquet varius lectus, in cursus risus molestie eget. Morbi ut justo quis tellus porttitor varius vitae id nibh. Donec pulvinar posuere orci, id lacinia arcu dictum ut. Curabitur venenatis mattis lorem, eu commodo ligula volutpat vel. Fusce vestibulum cursus rhoncus. Quisque eu sodales urna. Donec id elementum risus, vel eleifend libero. Donec pellentesque neque eu ipsum scelerisque varius.
                        <br /><br />
                        Sed nec lorem eget augue bibendum vestibulum. Aenean nunc nunc, pellentesque nec euismod a, pulvinar et augue. Donec ultrices tempus eros, et tincidunt orci luctus a. Donec nec orci imperdiet, convallis est et, sagittis lacus. In suscipit tempor sem, at iaculis turpis ultrices eget. Sed a accumsan nibh, non feugiat diam. Integer cursus a metus eu varius. Phasellus id lorem sodales elit bibendum tristique et non sem. Pellentesque at sagittis ligula, congue gravida mi. Pellentesque a risus sed mi accumsan vestibulum vel quis dolor. Aenean in neque eu augue imperdiet sollicitudin. Suspendisse at interdum nisi. Praesent vulputate ornare diam, eu sodales orci dictum id. Nunc erat arcu, venenatis at leo quis, consectetur consectetur lorem.
                        <br /><br />
                        Pellentesque nulla erat, auctor ac sapien ac, tempus sagittis nisi. Curabitur facilisis elit ac blandit semper. Vestibulum tempor blandit tempor. Nunc nibh nisl, condimentum ut urna ac, malesuada faucibus mi. Donec sed risus at dui consectetur tincidunt. Suspendisse nisl erat, dignissim viverra tincidunt sed, volutpat sed ante. Etiam nec sollicitudin massa. Pellentesque scelerisque tortor a ante congue efficitur. Duis hendrerit pellentesque fringilla. Suspendisse quam nunc, rhoncus sed suscipit imperdiet, lacinia id diam. Mauris vehicula augue nec tellus vestibulum tristique. Phasellus placerat scelerisque felis in auctor. Donec ac tempor elit, facilisis lacinia est. Duis sit amet metus nisl. Vestibulum id elementum augue, quis laoreet erat. In consequat est eget nisi bibendum, eget mattis ex hendrerit.
                        <br /><br />
                        Pellentesque massa mi, pretium eget vulputate sit amet, semper eu magna. Integer sed massa velit. Etiam nec suscipit mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla porta id nisl vitae egestas. In varius iaculis quam, at laoreet neque. Ut sit amet orci magna.
                        <br /><br />
                        Quisque feugiat fringilla leo. Vestibulum ultrices felis quis neque convallis euismod. Nullam non porta dolor. Vestibulum laoreet turpis facilisis nulla viverra efficitur. Maecenas dictum mauris sit amet erat dictum, et consequat orci convallis. Aliquam eleifend dui eget nisi condimentum egestas. Integer pellentesque, libero eget viverra venenatis, justo ex malesuada mauris, imperdiet vehicula magna arcu sed elit. Phasellus euismod eu nunc ut vulputate. Aliquam erat volutpat. Nunc nisi turpis, auctor convallis convallis tristique, tincidunt eget felis. Cras sodales elit id velit condimentum, et maximus augue tempor. Nulla dui justo, interdum vel mauris faucibus, lobortis lacinia orci.
                        <br /><br />
                        Pellentesque efficitur augue erat, eu consectetur velit tristique ac. Fusce imperdiet lorem ac congue iaculis. Aenean sagittis ipsum tortor, ut efficitur nunc tincidunt eu. Integer ultrices dui placerat nibh vehicula, nec tempor neque pellentesque. Vivamus sed magna quis libero convallis porttitor vel et neque. Praesent quis euismod ligula. Nullam sagittis ultrices justo a molestie. Duis ut nisi in augue suscipit aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla blandit et enim nec pulvinar. Donec vulputate volutpat tortor quis vulputate. Integer lobortis nisl sed dolor luctus, eu viverra erat efficitur. Curabitur posuere interdum imperdiet. Fusce nec tortor eget eros interdum placerat. Pellentesque congue sagittis est in feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        <br /><br />
                        Vivamus ligula lacus, facilisis ac mauris eget, fermentum tempor odio. Pellentesque orci neque, egestas hendrerit tortor sit amet, auctor porttitor purus. Aliquam quis sapien libero. Sed in mollis sapien. Pellentesque augue risus, blandit a tempor vitae, commodo laoreet lectus. Morbi eget lorem feugiat, commodo magna vel, viverra lectus. Morbi ullamcorper quam eget massa venenatis consequat. Duis vitae vehicula odio, sed iaculis nibh. Sed non auctor enim, ac placerat justo. Cras finibus ipsum a sem fermentum suscipit. Praesent sodales nisl ut felis ornare, sit amet dictum lacus tincidunt. Sed tristique arcu quis massa ornare pharetra.
                        <br /><br />
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla turpis mauris, laoreet ut porttitor sed, ullamcorper at tortor. Nunc eu massa facilisis, aliquam erat iaculis, pretium mi. Vestibulum a lectus rhoncus, vulputate tortor non, ullamcorper lorem. Phasellus at mauris magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec at ultrices turpis. Morbi mattis justo ut erat interdum volutpat. Suspendisse risus mauris, laoreet vitae molestie a, rutrum vel justo. Vivamus pellentesque est vitae mi placerat, at iaculis lectus tristique. Fusce bibendum quam a felis porta tincidunt. Aenean sed orci ligula. Mauris in vestibulum ligula, eget blandit turpis.
                        <br /><br />
                        Donec tempor imperdiet est nec feugiat. Proin vitae accumsan sem, pulvinar condimentum felis. Curabitur turpis mauris, laoreet in facilisis id, vestibulum nec felis. Nullam mattis nisl eget blandit iaculis. Nulla eu urna eu diam mattis consectetur vel ac nulla. Nullam vel orci vitae nibh sollicitudin elementum. Aenean velit justo, tincidunt ac malesuada eget, vulputate id leo. Donec eget ullamcorper risus, et viverra nulla. Proin maximus eros nec porttitor vulputate. Donec cursus porttitor eros et condimentum. Praesent ullamcorper dui in turpis aliquam, at dignissim enim pharetra. Nam congue, tortor placerat suscipit dictum, elit nisl mattis libero, id blandit sem sapien vitae purus. Integer ullamcorper, diam vel euismod lobortis, nulla nulla tempor leo, et rhoncus nunc augue eu nisl. Ut laoreet facilisis nibh, elementum posuere urna. Cras consequat convallis metus sit amet mattis. Proin porttitor tellus at neque placerat, a lobortis ante tincidunt.
                        <br /><br />
                        Proin ut nisi sit amet odio sagittis imperdiet. Nulla dapibus commodo turpis ut aliquet. Ut eros turpis, rutrum in rutrum in, viverra vitae mi. Praesent ac pharetra enim, eu commodo sem. Pellentesque aliquet egestas magna at consectetur. Maecenas facilisis felis ut risus ultrices, vel vulputate orci malesuada. Nulla facilisi. Donec id arcu ut lectus posuere eleifend. Curabitur scelerisque sollicitudin dignissim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac scelerisque dolor. Maecenas tristique erat lacus, sit amet ornare mauris venenatis in.
                    </div>
                </div>
            </div>
            <div class="smart-form no-padding">
                <footer style="text-align: right; padding-right: 20px">
                    <input type="submit" id="ButtonRegister" class="btn btn-primary" value="Hesabımı oluştur"
                            onclick="return CheckForm()" />
                    <i id="DivLoading" class="fa fa-gear fa-2x fa-spin txt-color-blue" style="display: none">
                    </i>
                </footer>
            </div>
        </div>
    </div>
    <br /><br />
}



<script>

    $('form').submit(function () {
        $('input[type=submit]').attr('disabled', 'disabled');
    });

    function ShowEULA() {
        $('#EULA').animate({ height: 'toggle' }, 400);
        $('#DivContentContainer').animate({ scrollTop: 1000 }, 400);
    }

    function CheckForm() {

        a = ($('#Name').val().length > 2) ? true : ($('#Name').focus(), false);
        b = a ? ($('#Surname').val().length > 2) ? true : ($('#Surname').focus(), false) : false;
        c = b ? ($('#Email').val().length > 5) ? true : ($('#Email').focus(), false) : false;
        d = c ? PasswordControl(0) : false;
        ($('#EULA').is(":visible")) ? $('#EULA').animate({ height: 'toggle' }, 0) : false;
        if (d) {
            $('#Email').attr("data-original-title", '');
            $('#Email').attr("data-content", '');
            $('#Email').trigger("click");

            $('#ButtonRegister').toggle(150);
            $('#DivLoading').toggle(100);
            return true;
        }
        else {
            return false;
        }
    }


</script>
<script type="text/javascript" for="PasswordControl">

    var Image = false;
    var IntName;
    var IntSurname;
    var IntEmail;
    var IntPassword;
    var i = 0;
    var ai = 0;
    var aic = 0;
    var txt = "";
    var lngth;

    var PswUcase = 0;
    var PswLcase = 0;
    var PswNmbrs = 0;
    var PswSpchr = 0;
    var PswDfrnt = new Array();

    var PSL = "";
    var IsCheckForm = false;
    var IsPRemark = false;

    function PasswordControl(IntRelay) {

        Pass = document.getElementById('Password').value;

        PswUcase = 0;
        PswLcase = 0;
        PswNmbrs = 0;
        PassSec = 0;
        i = 0;
        ai = 0;
        aic = 0;

        PswDfrnt.splice(0, PswDfrnt.length);
        clearInterval(IntPassword);

        while (Pass.charAt(i) != "") {

            code = Pass.charCodeAt(i);
            if (code == 45 || code == 95) PswSpchr++;
            if (code >= 48 && code <= 57) PswNmbrs++;
            if (code >= 65 && code <= 90) PswUcase++;
            if (code >= 97 && code <= 122) PswLcase++;
            ai = 0;
            aic = 0;

            while (PswDfrnt[ai] != undefined) {
                (PswDfrnt[ai] == Pass.charAt(i)) ? aic++ : false;
                ai++;
            }
            (aic > 0) ? false : PswDfrnt.push(Pass.charAt(i));
            i++;
        }

        var RegExPass = new RegExp("^[a-zA-Z0-9\-_]{6,30}$");
        $("#InputPasswordValidator").removeClass("has-error");

        if (Pass.length < 6) {
            clearInterval(IntPassword);
            if (IntRelay == 0) $("#InputPasswordValidator").addClass("has-error");

            $('#Password').attr("data-original-title", '<div style="text-align:center"><i class="icon-prepend fa fa-warning"></i></div>');
            $('#Password').attr("data-content", '<div class="padding-10"><center><%=  GetLocalResourceObject("ErrorPasswordIsNull") %></center></div>');
            $('#PasswordValidatorBar').css('width', '0%');
            $('#PasswordValidator').attr("data-original-title", '');

            if (IsPRemark == false) {
                $('#Password').focus();
                $('#Password').trigger("click");
                IsPRemark = true;
            }
            $('#Password').focus();
            $('#PasswordLevelText').hide(0);
            return false;
        }
        else if (Pass.search(RegExPass) == -1) {

            $("#InputPasswordValidator").addClass("has-error");

            $('#Password').attr("data-original-title", '<div style="text-align:center"><i class="icon-prepend fa fa-warning"></i></div>');
            $('#Password').attr("data-content", '<div class="padding-10"><center><%=  GetLocalResourceObject("ErrorPasswordIsInvalid").ToString() %></center></div>');

            $('#PasswordValidatorBar').css('width', '0%');
            $('#PasswordValidator').attr("data-original-title", '');
            if (IsPRemark == false) {
                $('#Password').focus();
                $('#Password').trigger("click");
                IsPRemark = true;
            }
            $('#PasswordLevelText').hide(0);
            return false;
        }
        else {
            PassSec = (Pass.length) + (((PswLcase > 0) ? 4 : 0) + PswLcase) + (((PswUcase > 0) ? 7 : 0) + PswUcase) + (((PswNmbrs > 0) ? 6 : 0) + PswNmbrs) + (((PswSpchr > 0) ? 9 : 0) + PswSpchr) + PswDfrnt.length * 4;
            ((PassSec > 100) ? PassSec = 100 : false);
            HexPosGreen = Math.floor(((PassSec - 37) * (4 / 2))).toString(16);
            HexPosRed = ((101 - PassSec) * 3).toString(16);
            pcolor = (PassSec > 36 ? "#" + ((HexPosRed.length > 1) ? HexPosRed : "0" + HexPosRed) + ((HexPosGreen.length > 1) ? HexPosGreen : "0" + HexPosGreen) + "00" : "#c00000");

            $('#PasswordValidatorBar').removeClass();
            $('#PasswordValidatorBar').addClass("progress-bar");
            $('#PasswordValidatorBar').css("width", PassSec + "%");

            if (PassSec < 36) { $('#PasswordValidatorBar').addClass("bg-color-red"); PSL = 'Çok zayıf!'; }
            if (PassSec >= 36 && PassSec <= 51) { $('#PasswordValidatorBar').addClass("bg-color-redLight"); PSL = 'Zayıf'; }
            if (PassSec >= 52 && PassSec <= 67) { $('#PasswordValidatorBar').addClass("bg-color-yellow"); PSL = 'Orta'; }
            if (PassSec >= 68 && PassSec <= 83) { $('#PasswordValidatorBar').addClass("bg-color-greenLight"); PSL = 'Güçlü'; }
            if (PassSec >= 84 && PassSec <= 99) { $('#PasswordValidatorBar').addClass("bg-color-green"); PSL = 'Çok güçlü'; }
            if (PassSec == 100) { $('#PasswordValidatorBar').addClass("bg-color-green"); PSL = 'Mükemmel'; }

            if (!$('#PasswordLevelText').is(':visible')) $('#PasswordLevelText').slideToggle("fast");
            $('#PasswordLevelText').html("Güvenlik düzeyi : <b>" + PSL + "</b>  (" + PassSec + "%)<br/>");
            $('#PasswordValidator').attr("data-original-title", '<div style="text-align:center"><%=  GetLocalResourceObject("PSL") %><br>' + PSL + '<br><br><font style="font-size:12px">[ ' + PassSec.toString() + ' ' + '<%=  GetLocalResourceObject("PasswordPoint") %>' + ' <sub>/ 100</sub> ]</div>');
            if (IsPRemark == true) {
                $('#Password').attr("data-original-title", '');
                $('#Password').attr("data-content", '');
                $('#Password').focus();
                $('#Password').trigger("click");
            }
            IsPRemark = false;

            return true;
        }
    }
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




