@using Itsyazilim.Web.Domain.Resources
@{
    ViewBag.Title = "Hesap Aktivasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Status"] == null)
{
    Response.Redirect("RegisterReSendActivateCode");
}
<br /><br />
<div class="well no-padding" style="width: 400px; margin: 0px auto 0px auto; border-radius:0px; border:1px solid #aaa">
    <div id="RegisterReSendActivateCodeResult">
        <div class="smart-form client-form">
            <header>
                <h1 style="padding: 5px 5px 5px 19px">
                    @if (TempData["Status"] == "OK")
                    {<i class="fa fa-check text-muted"></i><span style="padding-left:2px">&nbsp;@ItsyazilimWebResources.lblAccountActivation</span>
                    }
                    else
                    {<i class="fa fa-info-circle text-muted"></i><span>&nbsp;&nbsp;@ItsyazilimWebResources.lblAccountActivation</span>
                    }
                    <i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile" style="opacity: 0.2;
                            margin-right: 20px"></i>
                </h1>
            </header>
        </div>
        <div class="padding-10" style="background-color:white;">
            <div class="padding-10">
                @if (TempData["Status"] == "OK")
                {<h5>
                    @ItsyazilimWebResources.lblFinalStepAccount
                </h5><br />
                    <span>
                        @ItsyazilimWebResources.lblResetPasswordConfirmMessage1<br />
                        @ItsyazilimWebResources.lblResetPasswordConfirmMessage2 <a href='@Url.Content("RegisterReSendActivateCode?e=" + TempData["Email"])'> @ItsyazilimWebResources.lblAskForResendEmail </a>
                    </span>
                }
                else
                {
                    switch (TempData["StatusId"].ToString())
                    {
                        case "0":
                            <center>
                                <h5>@ItsyazilimWebResources.lblYourAccountVerifiedBefore</h5>
                                <br />
                                <a href='@Url.Content("Login?e=" + TempData["Email"])'>@ItsyazilimWebResources.lblTheLog</a> @ItsyazilimWebResources.lblOr
                                <a href='@Url.Content("PasswordRenewal?e=" + TempData["Email"])'>@ItsyazilimWebResources.lblRenewYourPassword</a>

                            </center>
                            break;

                        case "2":
                        <h5>@ItsyazilimWebResources.lblYourAccountVerifiedBefore</h5>
                        <br />
                        <span>
                            <a href='@Url.Content("Login?e=" + TempData["Email"])'>@ItsyazilimWebResources.lblTheLog</a> @ItsyazilimWebResources.lblOr
                            <a href='@Url.Content("PasswordRenewal?e=" + TempData["Email"])'>şifrenizi yenileyin</a>
                        </span>
                            break;

                        case "3":
                        <h5>@ItsyazilimWebResources.lblEmailNotFound</h5>
                        <br />
                        <span>
                            @ItsyazilimWebResources.lblAreYourNew ?  <a href='@Url.Content("Register?e=" + TempData["Email"])'> @ItsyazilimWebResources.lblSignUpNow</a>
                        </span>
                            break;

                        case "4":
                        <h5>@ItsyazilimWebResources.lblFinalStepAccount</h5>
                        <br />
                        @MvcHtmlString.Create("Yaklaşık %PastMinute% dakika önce, hesabınızı aktif etmeniz için size bir e-posta yolladık. Lütfen gelen kutunuzu kontrol edin. Yollanan e-posta ulaşmadıysa lütfen %RemainingMinute% dakika sonra tekrar deneyin.").ToString().Replace("%PastMinute%", TempData["StatusLastSendedTime"].ToString()).Replace("%RemainingMinute%", (60 - Convert.ToInt16(TempData["StatusLastSendedTime"])).ToString())
                            break;

                        case "5":
                        <h5>@ItsyazilimWebResources.lblToManyAttemptsMessage</h5>
                        <br />
                        <span>
                            @ItsyazilimWebResources.lblTryAgainLaterMessage
                        </span>
                            break;

                        case "254":
                        <h5>@ItsyazilimWebResources.lblEmailNotSendToEmail</h5>
                        <br />
                        <span> Lütfen <a href="javascript:history.back()">@ItsyazilimWebResources.lblReturn</a> @ItsyazilimWebResources.lblCheckYourAddress</span>
                            break;
                    }
                }
            </div>
        </div>
        <div class="smart-form no-padding">
            <footer style="padding:20px">
                <table border="0" align="center" style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="text-align: center">
                                @ItsyazilimWebResources.lblProblemInActivationAccountMessage<br>@ItsyazilimWebResources.lblPlease
                                <a style="border: none; text-decoration: none" href="~/Home/Contact?Report=2">
                                    @ItsyazilimWebResources.lblLetUsKnow
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </div>
    </div>
</div>
