@{
    ViewBag.Title = "Hesap Doğrulama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Status"] == null)
{
    Response.Redirect("../");
}
<br /><br />
<div class="well no-padding" style="width: 400px; margin: 0px auto 0px auto; border-radius:0px; border:1px solid #aaa">
    <div id="RegisterCheckActivateCodeResult">
        <div class="smart-form client-form">
            <header>
                <h1 style="padding: 5px 5px 5px 19px">
                    <i class="fa fa-info-circle text-muted"></i><span>&nbsp;&nbsp;Hesap Aktivasyon</span>
                    <i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile" style="opacity: 0.2;
                            margin-right: 20px"></i>
                </h1>
            </header>
        </div>
        <div class="padding-10" style="background-color:white;">
            <div class="padding-10">
                @switch (TempData["StatusId"].ToString())
                {
                    case "0":
                        <center>
                            <h5>Hesabınız daha önce doğrulanmış</h5>
                            <br />
                            <a href='@Url.Content("Login?e=" + TempData["Email"])'>Giriş yapın</a> ya da
                            <a href='@Url.Content("PasswordRenewal?e=" + TempData["Email"])'>şifrenizi yenileyin</a>

                        </center>
                        break;

                    case "1":
                    <center>
                        <h5>Aktivasyon kodu geçersiz</h5>
                        <br />
                        <span>
                            Lütfen gelen e-postadaki hesap aktivasyon linkine tıklayınız.
                            E-posta, adresinize ulaşmadıysa <a href='@Url.Content("RegisterReSendActivateCode?e=" + TempData["Email"])'> aktivasyon e-postasını yeniden isteyin </a>
                        </span>

                    </center>
                        break;

                    case "2":
                    <center>
                        <h5>Hesabınız daha önce doğrulanmış</h5>
                        <br />
                        <a href='@Url.Content("Login?e=" + TempData["Email"])'>Giriş yapın</a> ya da
                        <a href='@Url.Content("PasswordRenewal?e=" + TempData["Email"])'>şifrenizi yenileyin</a>

                    </center>
                        break;

                    case "3":
                    <center>
                        <h5>E-posta adresi bulunamadı</h5>
                        <br />
                        Yeni misiniz ?  <a href='@Url.Content("Register?e=" + TempData["Email"])'> Şimdi kaydol</a>
                    </center>
                        break;
                }

            </div>
        </div>
        <div class="smart-form no-padding">
            <footer style="padding:20px">
                <table border="0" align="center" style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="text-align: center">
                                Hesabınızı etkinleştirirken bir sorun mu oluştu?<br>Lütfen
                                <a style="border: none; text-decoration: none" href="~/Home/Contact?Report=2">
                                    bize bildirin
                                </a>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </div>
    </div>
</div>

