@using platform.ltsyazilim.com.Controllers
@using Itsyazilim.Web.Domain.Resources
@model Itsyazilim.Web.UI.Models.FirmViewModel

@{
    ViewBag.Title = ItsyazilimWebResources.lblCompanyUnderConsideration;
    Layout = "~/Views/Shared/_Manage.cshtml";
}
<script>
    $(document).find("a[href='addfirm']").parent().addClass("active");
</script>
<div class="padding-10">
    <table style="width: 100%">
        <tr>
            <td>
                <h2>
                    <i class="fa fa-bank" style="padding: 0px 10px 0px 10px"></i>@ItsyazilimWebResources.lblFirmApprovalMessage1
                </h2>
            </td>
        </tr>
    </table>
    <hr />
    <div class="padding-10">
        @ItsyazilimWebResources.lblFirmApprovalMessage2
    </div>
</div>
<div class="padding-10" style="width:800px">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="smart-form">
            <fieldset class="padding-top-0" style="background-color: transparent">
                <section>
                    @ItsyazilimWebResources.lblTradeName
                    @Html.DevExpress().TextBoxFor(m => m.FirmName, FormElementSettingsHelper.TextBoxSettingsMethod).GetHtml()
                </section>
                <section>
                    @ItsyazilimWebResources.lblCityCountry
                    @Html.DevExpress().ComboBoxFor(m => m.CountyId,
                    settings =>
                    {
                        settings.ControlStyle.CssClass = "DevExInput";
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        settings.ControlStyle.Font.Name = "Arial";
                        settings.ControlStyle.Font.Size = 10;
                        settings.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                        settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                        settings.Properties.ValidationSettings.Display = Display.Dynamic;
                        settings.ShowModelErrors = true;

                        settings.SelectedIndex = 0;
                        settings.Properties.TextField = "CountyName";
                        settings.Properties.ValueField = "CountyId";
                        settings.Properties.ValueType = typeof(int);
                        settings.SelectedIndex = -1;
                        settings.Properties.DropDownButton.Visible = false;
                    }
                    ).BindList(Itsyazilim.Web.UI.Models.DataProvider.GetCounties()).GetHtml()
                </section>
                <section>
                    @ItsyazilimWebResources.lblNeighborhoodStreetDoorNumber
                    @Html.DevExpress().TextBoxFor(m => m.Address, FormElementSettingsHelper.TextBoxSettingsMethod).GetHtml()
                </section>
                <div class="row">
                    <section class="col col-6">
                        @ItsyazilimWebResources.lblFlatTax
                        @Html.DevExpress().TextBoxFor(m => m.TaxOffice, FormElementSettingsHelper.TextBoxSettingsMethod).GetHtml()
                    </section>
                    <section class="col col-6">
                        @ItsyazilimWebResources.lblTaxNumber
                        @Html.DevExpress().TextBoxFor(m => m.TaxNo, FormElementSettingsHelper.TextBoxSettingsMethod).GetHtml()
                    </section>
                </div>
                <div class="row">
                    <section class="col col-3">
                        @ItsyazilimWebResources.lblPhoneNo
                        @Html.DevExpress().TextBoxFor(m => m.Phone1, FormElementSettingsHelper.TextBoxSettingsMethod).GetHtml()
                    </section>
                    <section class="col col-3">
                        @ItsyazilimWebResources.lblPhone2
                        @Html.DevExpress().TextBoxFor(m => m.Phone2, FormElementSettingsHelper.TextBoxSettingsMethod).GetHtml()
                    </section>
                    <section class="col col-3">
                        @ItsyazilimWebResources.lblFax
                        @Html.DevExpress().TextBoxFor(m => m.Fax, FormElementSettingsHelper.TextBoxSettingsMethod).GetHtml()
                    </section>
                    <section class="col col-3">
                        @ItsyazilimWebResources.lblMobileNumber
                        @Html.DevExpress().TextBoxFor(m => m.MobilePhone, FormElementSettingsHelper.TextBoxSettingsMethod).GetHtml()
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        @ItsyazilimWebResources.lblEmailAddress
                        @Html.DevExpress().TextBoxFor(m => m.Email, FormElementSettingsHelper.TextBoxSettingsMethod).GetHtml()
                    </section>
                    <section class="col col-6">
                        @ItsyazilimWebResources.lblInternetSite
                        @Html.DevExpress().TextBoxFor(m => m.WebSite, FormElementSettingsHelper.TextBoxSettingsMethod).GetHtml()

                    </section>
                    @Html.HiddenFor(m => m.FirmId)
                </div>
            </fieldset>
        </div>
        <div class="no-padding">
            <footer style="text-align: right; padding-right: 20px">
                <input type="submit" id="ButtonUpdate" class="btn btn-primary" value="@ItsyazilimWebResources.lblUpdate" />
                <i id="DivLoading" class="fa fa-gear fa-2x fa-spin txt-color-blue" style="display: none">
                </i>
            </footer>
        </div>
    }
</div>
<script>
    $('form').submit(function () {
        if ($(this).valid()) {
            $('#ButtonUpdate').toggle(150);
            $('#DivLoading').toggle(100);
        }
    });
</script>