@using Itsyazilim.Web.Domain.Resources;
@{
    ViewBag.Title = "LTS Tübitak";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div>
    <table style="width:1100px; margin:0px auto 0px auto;">
        <tr>
            <td>
                <img src="~/Content/Images/Application/Logistic01.png" style="border:1px solid #999; margin-right:10px; height:100%; width:750px" />
            </td>
            <td>
                @Html.Partial("~/Views/Shared/_PartialLogin.cshtml")
            </td>
        </tr>
    </table>
</div>
<br /><br />
<div style="background-color:#1570a6; padding:50px 0px 50px 0px">
    <table style="width:1100px; margin:0px auto 0px auto;">
        <tr>
            <td style="vertical-align:top">
                <span style="color:white" class="font-xl">@ItsyazilimWebResources.lblHomeMessage1</span>
                <br />
                <br />
                <span style="color:white">@ItsyazilimWebResources.lblHomeMessage2</span>
            </td>
            <td style="text-align:right">
                <div>
                    <img src="~/Content/Images/Application/Logistic02.png" style="width:340px;background-color:#0f527a; padding:20px" />
                </div>
            </td>
        </tr>
    </table>
</div>
<div style="background-color:#eee; padding:50px 0px 50px 0px">
    <div class="row" style="margin:0px auto 0px auto; width:1130px;">

        <div class="col-md-4">
            <table>
                <tr>
                    <td style="width:100px; text-align:center"><i class="fa fa-cloud-download fa-5x" style="color:#5f5f5f; padding-right:15px"></i></td>
                    <td><h1>@ItsyazilimWebResources.lblHomeMessage3</h1></td>
                </tr>
            </table>

            <p>
                @ItsyazilimWebResources.lblHomeMessage4
            </p>
        </div>
        <div class="col-md-4">
            <table>
                <tr>
                    <td style="width:100px; text-align:center"><i class="fa fa-clock-o fa-5x" style="color:#5f5f5f; padding-right:15px"></i></td>
                    <td><h1>@ItsyazilimWebResources.lblHomeMessage5 <br />@ItsyazilimWebResources.lblHomeMessage6</h1></td>
                </tr>
            </table>
            <p>@ItsyazilimWebResources.lblHomeMessage7</p>

        </div>
        <div class="col-md-4">
            <table>
                <tr>
                    <td style="width:100px; text-align:center"><i class="fa fa-comments-o fa-5x" style="color:#5f5f5f; padding-right:15px"></i></td>
                    <td><h1>@ItsyazilimWebResources.lblHomeMessage8</h1></td>
                </tr>
            </table>
            <p> @ItsyazilimWebResources.lblHomeMessage9</p>

        </div>

    </div>

    <div class="row" style="margin:0px auto 0px auto; width:1130px; padding:50px 0px 50px 0px">

        <div class="col-md-4">
            <table>
                <tr>
                    <td style="width:100px; text-align:center"><i class="fa fa-mobile fa-5x" style="color:#5f5f5f; padding-right:15px"></i></td>
                    <td><h1>@ItsyazilimWebResources.lblHomeMessage10</h1></td>
                </tr>
            </table>

            <p>
                @ItsyazilimWebResources.lblHomeMessage11
            </p>

        </div>
        <div class="col-md-4">
            <table>
                <tr>
                    <td style="width:100px; text-align:center"><i class="fa fa-truck fa-5x" style="color:#5f5f5f; padding-right:15px"></i></td>
                    <td><h1>@ItsyazilimWebResources.lblHomeMessage12</h1></td>
                </tr>
            </table>
            <p>@ItsyazilimWebResources.lblHomeMessage13</p>

        </div>
        <div class="col-md-4">
            <table>
                <tr>
                    <td style="width:100px; text-align:center"><i class="fa fa-reorder fa-5x" style="color:#5f5f5f; padding-right:15px"></i></td>
                    <td><h1>@ItsyazilimWebResources.lblHomeMessage14 <br /> @ItsyazilimWebResources.lblHomeMessage15</h1></td>
                </tr>
            </table>
            <p> @ItsyazilimWebResources.lblHomeMessage16</p>

        </div>

    </div>
    <div class="row" style="margin:0px auto 0px auto; width:1130px; border-top:1px solid #999">
        <br /><br />
        <div class="col-md-4">
            <h2>@ItsyazilimWebResources.lblHomeMessage17</h2>
            <p>
                @ItsyazilimWebResources.lblHomeMessage18
            </p>
            <p><a class="btn btn-info" href="">@ItsyazilimWebResources.lblDetails &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>@ItsyazilimWebResources.lblHomeMessage19</h2>
            <p>@ItsyazilimWebResources.lblHomeMessage20</p>
            <p><a class="btn btn-info" href="">Ayrıntılar &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>@ItsyazilimWebResources.lblBenefits</h2>
            <p> @ItsyazilimWebResources.lblHomeMessage21</p>
            <p><a class="btn btn-info" href="">@ItsyazilimWebResources.lblDetails &raquo;</a></p>
        </div>
    </div>
</div>

<div style="background-color:#ff6a00; padding-top:50px">
    <table style="width:1100px; margin:0px auto 0px auto;">
        <tr>
            <td style="vertical-align:bottom;width:200px;">
                <img src="~/Content/Images/Application/business-woman.png" />
            </td>
            <td style="vertical-align:top; width:560px; text-align:left; color:white; padding-right:30px">
                <br />
                <span style="color:white" class="font-xl">@ItsyazilimWebResources.lblHomeMessage22</span>
                <br />
                <br />

                <span style="color:white">@ItsyazilimWebResources.lblHomeMessage23</span>
                <br /><br /><br />
                <i class="fa fa-phone"></i><br />
                <i class="fa fa-envelope-o"></i><br /><br /><br /><br />
            </td>
            <td style="color:white; vertical-align:top">
                <br />
                <i class="fa fa-apple fa-2x"></i>&nbsp;&nbsp;<span style="font-size:x-large">@ItsyazilimWebResources.lblAppleStore</span><br /><br />
                <i class="fa fa-android fa-2x"></i>&nbsp;&nbsp;<span style="font-size:x-large">@ItsyazilimWebResources.lblGooglePlay</span><br /><br />
                <i class="fa fa-windows fa-2x"></i>&nbsp;&nbsp;<span style="font-size:x-large">@ItsyazilimWebResources.lblWindowsPhone</span><br /><br />
                <br /><br /><br /><br /><br /><br />
                <div>
                    © 2014
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color: #eee; font-size:large;">@ItsyazilimWebResources.lblLTS</span>
                    <span style=" color: #fff; font-size:large;">@ItsyazilimWebResources.lblTubitik</span>
                </div>
            </td>
        </tr>
    </table>
</div>

