@{
    ViewBag.Title = "Şifre Yenileme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Status"] == null)
{
    Response.Redirect("PasswordRenewal");
}
<br /><br />
<div class="well no-padding" style="width: 400px; margin: 0px auto 0px auto; border-radius:0px; border:1px solid #aaa">
    <div id="PasswordRenewalResult">
        <div class="smart-form client-form">
            <header>
                <h1 style="padding: 5px 5px 5px 19px">
                    @if (TempData["Status"] == "OK")
                    {<i class="fa fa-check text-muted"></i><span style="padding-left:2px">&nbsp;Şifre Yenileme</span>
                    }
                    else
                    {<i class="fa fa-info-circle text-muted"></i><span>&nbsp;&nbsp;Şifre Yenileme</span>
                    }
                    <i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile" style="opacity: 0.2;
                            margin-right: 20px"></i>
                </h1>
            </header>
        </div>
        <div class="padding-10" style="background-color:white;">
            <div class="padding-10">
                @if (TempData["Status"] == "OK")
                {<h5>
                    Lütfen gelen kutunuzu kontrol ediniz
                </h5><br />
                    <span>
                        Az önce, şifrenizi yenilemeniz için size bir e-posta yolladık.<br />
                        Lütfen e-postalarınızı kontrol edin ve şifre yenileme linkine tıklayın. E-posta, adresinize ulaşmadıysa <a href='@Url.Content("PasswordRenewal?e=" + TempData["Email"])'> şifre yenileme e-postasını yeniden isteyin </a>
                    </span>
                }
                else
                {
                    switch (TempData["StatusId"].ToString())
                    {
                        case "1":
                            <h5>Hesabınız henüz doğrulanmamış</h5>
                            <span>
                                Lütfen e-postalarınızı kontrol edin ve aktivasyon linkine tıklayın. E-posta, adresinize ulaşmadıysa
                                <a href='@Url.Content("RegisterReSendActivateCode?e=" + TempData["Email"])'>aktivasyon e-postasını yeniden isteyin </a>
                            </span>
                            break;

                        case "2":
                        <h5>Hesabınız sistem tarafından kitlenmiş</h5>
                        <br />
                        <span>
                            Lütfen <a href='@Url.Content("~/Home/Contact")'>bizimle iletişime geçin</a>
                        </span>
                            break;

                        case "3":
                        <h5>Lütfen gelen kutunuzu kontrol ediniz</h5>
                        <br />
                        @MvcHtmlString.Create("Yaklaşık %PastMinute% dakika önce, şifre yenileme için bir e-posta yolladık. Lütfen gelen kutunuzu kontrol edin. E-posta elinize ulaşmadıysa lütfen %RemainingMinute% dakika sonra tekrar deneyin.").ToString().Replace("%PastMinute%", TempData["StatusLastSendedTime"].ToString()).Replace("%RemainingMinute%", (60 - Convert.ToInt16(TempData["StatusLastSendedTime"])).ToString())
                            break;

                        case "4":
                        <h5>E-posta adresi bulunamadı</h5>
                        <br />
                        <span>
                            Yeni misiniz ?  <a href='@Url.Content("Register?e=" + TempData["Email"])'> Şimdi kaydol</a>
                        </span>
                            break;

                        case "5":
                        <h5>Çok fazla sayıda deneme yaptınız</h5>
                        <br />
                        <span>
                            Lütfen daha sonra tekrar deneyin
                        </span>
                            break;

                        case "254":
                        <h5>Bu adrese e-posta yollanamadı</h5>
                        <br />
                        <span> Lütfen <a href="javascript:history.back()">geri dönün</a> ve adresinizi kontrol ediniz</span>
                            break;
                    }
                }
            </div>
        </div>
        <div class="smart-form no-padding">
            <footer style="padding:20px">
                <table border="0" align="center" style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="text-align: center">
                                Şifrenizi yenilerken bir sorun mu oluştu? <br>Lütfen
                                <a style="border: none; text-decoration: none" href="~/Home/Contact?Report=3">
                                    bize bildirin
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </div>
    </div>
</div>

